/* Mobile View */
@media only screen and (min-width: 0rem) {
  .skills-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 5rem 0;
    /* padding: 1rem; */
  }

  .skills-title {
    width: inherit;
    display: flex;
    align-items: center;
    padding: 1rem;
  }

  .skills-title-text {
    margin: 0 1rem;
    font-size: 3rem;
    font-weight: 600;
  }

  .line-span {
    width: inherit;
    border: 1px solid black;
  }

  .skills-tab {
    display: flex;
    justify-content: space-evenly;
    overflow: scroll;
    padding: 0.5rem;
  }

  .skills-tab > * {
    border: 3px solid black;
    border-radius: 5px;
    padding: 0.3rem;
    margin: 0.5rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(202, 186, 200);
    font-weight: 600;
  }

  .skills {
    border: 1px solid black;
  }

  .language-list,
  .frontend-list,
  .backend-list {
    display: none;
  }

  .language-list-active,
  .frontend-list-active,
  .backend-list-active {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10rem;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  .skills {
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin: 1rem;
    padding: 0.7rem 0.5rem;
    width: 35%;
    height: 1.3rem;
    text-align: center;
    border-radius: 10px;
    background: rgba(50, 41, 47);
    color: white;
  }

  .skills > * {
    /* border: 1px solid white; */
    font-size: 1.1rem;
    margin-left: 0.4rem;
  }
}
