html {
  font-size: 16px;
}

body {
  margin: auto;
}

nav {
  background: rgb(255, 255, 255);
}

.nav-logo {
  width: 3rem;
  margin-left: 1rem;
  filter: drop-shadow(0 0 0.2em #504e4eaa);
}

.nav-logo-url {
  display: inline-block;
  height: inherit;
}

.nav-icon-container {
  display: inline-block;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover,
a:visited:hover {
  color: white;
}

a:visited {
  color: black;
}

/* Mobile View */
@media only screen and (min-width: 0rem) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }

  .nav-mobile-button {
    width: 2.5rem;
    margin-right: 1.8rem;
  }

  .nav-content {
    display: none;
    list-style-type: none;
    text-decoration: none;
  }

  .nav-content-mobile {
    display: block;
    list-style-type: none;
    text-decoration: none;
    width: inherit;
    background: rgba(134, 147, 241, 0.5);
  }

  .nav-content-mobile > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    height: inherit;
    padding: 0;
    margin: 0;
  }

  .nav-content-mobile > ul > li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: inherit;
  }

  .nav-content-mobile > ul > li > * {
    padding: 0.7rem 0;
    width: inherit;
    text-align: center;
    font-size: 1.1rem;
    font-family: sans-serif;
  }
}

/* Desktop View */
@media only screen and (min-width: 30rem) {
  .nav-mobile-button {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-content {
    display: block;
    list-style-type: none;
    text-decoration: none;
  }

  .nav-content > ul > li {
    list-style-type: none;
  }

  .nav-content > ul > li > * {
    padding: 0 1rem;
    font-size: 1.2rem;
  }

  .nav-content-mobile {
    display: none;
    list-style-type: none;
    text-decoration: none;
  }
}
