/* Mobile View */
@media only screen and (min-width: 0rem) {
  .intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro-container > * {
    margin: 1rem;
  }

  .title-container {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 4px 4px 10px #000000;
    border-radius: 10px;
    padding: 1rem;
    filter: drop-shadow(0.2rem 0.2rem 0.2em #504e4eaa);
    border: 8px solid rgba(237, 230, 167);
    background-color: white;
  }

  .title-container > span {
    padding: 0.2rem 0;
    display: inline-block;
  }

  .title {
    font-size: 3.5rem;
    font-weight: 700;
    padding-left: 0;
  }

  .subtitle {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1.1rem;
    padding-left: 0;
  }

  .title-desc {
    font-size: 0.9rem;
  }

  .intro-banner {
    width: 100%;
    max-width: 30rem;
    height: auto;
    border-radius: 10px;
    object-fit: fill;
    filter: drop-shadow(0.2rem 0.2rem 0.2em #504e4eaa);
    box-shadow: 4px 4px 10px #000000;
  }
}

@media only screen and (min-width: 30rem) {
}
